:root {
    --color-background: #000;
    --color-foreground: #fff;
}

html {
    width: 100%;
    max-width: 100vw;
    max-width: 100dvw;
    padding: 0px;
    margin: 0px;
    font-smooth: always;
    font-size: 16px;
    overscroll-behavior-x: none;
    touch-action: manipulation;
    text-size-adjust: auto;
    color: var(--color-foreground);
    background: var(--color-background);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
